$types: (
  default: (
    icon-color: $color-primary-dark,
    animation-color: $color-primary
  ),
  primary: (
    icon-color: $color-primary-darker,
    animation-color: $color-primary-darker
  )
);

@each $type, $styles in $types {
  &[data-timer-type='#{$type}'] {
    &.timer-svg {
      border: 4px solid map-get($styles, animation-color);
    }
  }
}

.timer-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 58%;
  left: 45%;
  width: 170px;
  height: 170px;
  transform: translate(-50%, -50%) rotate(270deg);
  @include above-laptop {
    top: 50%;
    left: 0%;
    width: 540px;
    height: 540px;
  }
  @each $type, $styles in $types {
    &[data-timer-type='#{$type}'] {
      .timer-svg__animation {
        &.active {
          stroke: map-get($styles, animation-color);
        }
      }
      .timer-svg__inner {
        border: 4px solid map-get($styles, animation-color);
        background-color: map-get($styles, animation-color);
      }
      &[data-is-playing='true'] {
        border: 4px solid map-get($styles, animation-color);
        .timer-svg__inner {
          background-color: #fff;
        }
        .play-icon {
          color: map-get($styles, animation-color);
        }
        .timer-svg__reset {
          background-color: map-get($styles, animation-color);
        }
      }
    }
  }
  &__inner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    @include above-laptop {
      width: 500px;
      height: 500px;
    }
  }
  &__reset {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #fff;
    cursor: pointer;
    left: 30%;
    top: 65%;
    @include above-laptop {
      left: 40%;
      top: 58%;
      width: 14px;
      height: 14px;
    }
  }
  .play-icon {
    position: absolute;
    overflow: hidden;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    cursor: pointer;
    @include above-laptop {
      width: 96px;
      height: 96px;
    }
    i {
      transform: rotate(90deg);
      width: 60px;
      height: 60px;
      font-size: 60px;
      @include above-laptop {
        width: 96px;
        height: 96px;
        font-size: 96px;
      }
    }
  }
  &__animation {
    stroke-width: 21;
    position: absolute;
    width: 170px;
    height: 170px;
    @include above-table {
      width: 540px;
      height: 540px;
    }
    circle {
      stroke-dasharray: 360%;
      stroke-dashoffset: 57%;
      transition: all 0.5s linear;
      fill: none;
    }
  }
}
