$types: (
  default: (
    text-color: $color-primary
  ),
  primary: (
    text-color: $color-primary-darker
  )
);

.countdown-timer {
  width: 100%;
  @each $type, $styles in $types {
    &[data-countdown-type='#{$type}'] {
      color: map-get($styles, text-color);
    }
  }
  @include above-laptop {
    width: 454px;
    padding: 5% 0%;
  }
  &__display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    @include above-laptop {
      font-size: 176px;
      justify-content: flex-start;
    }
  }
}
